/* Animations */
a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.menu li {
    -webkit-transition: background 0.5s ease 0s;
    -moz-transition: background 0.5s ease 0s;
    transition: background 0.5s ease 0s;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.social img {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
}
.social a:hover img {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
nav.archive li{
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.logo,
.about,
.headlinks li,
.menu li,
nav.archive.header{
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-animation: fadein .6s .5s 1 forwards ease-in-out;
  -moz-animation: fadein .6s .5s 1 forwards ease-in-out;
  animation: fadein .6s .5s 1 forwards ease-in-out;
}

.container article{
  opacity: 0;
  -webkit-animation: fadein .6s .5s 1 forwards ease-in-out;
  -moz-animation: fadein .6s .5s 1 forwards ease-in-out;
  animation: fadein .6s .5s 1 forwards ease-in-out;
}

.menu li.about{
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.menu li.album{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.menu li.rss{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.headlinks li.twitter{
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.headlinks li.github{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.headlinks li.weibo{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@-webkit-keyframes fadein{
  0%{
    -webkit-transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes fadein{
  0%{
    -moz-transform: translateY(-20px);
    opacity: 0;
  }
  100%{
    -moz-transform: translateY(0);
    opacity: 1;
  }
}
